.md-console {
	background-color: #1c2021;
	color: #e0e2e4;
	padding: 10px 0;
	font-family: "Consolas", monospace;
	font-size: 14pt;
	overflow: auto;
	white-space: nowrap;
	height: calc(100% - 20px);
}

.md-info { color: #93c763; }
.md-error { color: #bc3f3c; }

line {
	display: block;
	padding: 0 20px;
}