.md-editor {
	background-color: #1c2021;
	color: #e0e2e4;
	padding: 10px 10px 10px 0;
	font-family: "Consolas", monospace;
	font-size: 14pt;
	overflow: auto;
	white-space: nowrap;
	height: calc(100% - 20px);
}

.md-keyword { color: #93c763; }
.md-type { color: #678cb1; }
.md-meta { color: #a082bd; }
.md-comment { color: #616d73; }
.md-symbol { color: #e8e2b7; }
.md-number { color: #e3bd3d; }
.md-string { color: #ce751d; }
.md-error { color: #bc3f3c; }

div { counter-reset: line-counter; }
line { display: block; }

line::before {
	counter-increment: line-counter;
	content: counter(line-counter);
	display: inline-block;
	width: 80px;
	text-align: center;
	color: #616d73;
}