.md-editor {
	background-color: #293134;
	color: #E0E2E4;
	padding: 10px;
	font-family: "Consolas", monospace;
	font-size: 16pt;
}

.md-keyword { color: #93C763; }
.md-type { color: #678CB1; }
.md-meta { color: #A082BD; }
.md-comment { color: #7D8C93; }
.md-symbol { color: #E8E2B7; }
.md-number { color: #FFCD22; }
.md-string { color: #EC7600; }
.md-error { color: #BC3F3C; }

div { counter-reset: line-counter; }
line { display: block; }

line::before {
	counter-increment: line-counter;
	content: counter(line-counter);
	display: inline-block;
	width: 64px;
	text-align: center;
	color: #7D8C93;
}